$font-family: 'Nunito', sans-serif;
$fz-heading: 40px;
$lh-heading: 40px;
$fz-body: 16px;
$lh-body: 26px;

$color-txt: rgba(0,0,0,0.87);
$color-primary: #F4E041;
$color-secondary: #00BDD3;
$color-bg: #F8F8F8;

$color-btn-hover: #FFE302;
$bg-color-disabled: #B4B4B4;
$color-disabled: #FFFFFFDE;


$small-width: 359.98px;
$mobile-width: 767.98px;
$tablet-width: 991.98px;
$desktop-width: 1170px;
